<ion-header>
  <ion-navbar>
    <ion-title>
      ionic get location demo
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button block color="primary" (click)="startLocate()" ion-left>
    <ion-icon name="navigate"></ion-icon>
    开始定位
  </button>

  <div  *ngIf="located">
    <ion-grid>
      <ion-row *ngFor="let dic of locationInfo">
        <ion-col *ngFor="let item of dic">
          {{item}}
        </ion-col>
      </ion-row>
    </ion-grid>

    <button ion-button block color="primary" (click)="geocoding()" ion-left>
      <ion-icon name="swap"></ion-icon>
       开始逆地理编码
    </button>
  </div>

  <div *ngIf="reversed">
    <ion-grid>
      <ion-row *ngFor="let dic of addressInfo">
        <ion-col *ngFor="let item of dic">
          {{item}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
